@import url("observablehq:default.css");
@import url("observablehq:theme-air.css") (prefers-color-scheme: light);
@import url("observablehq:theme-near-midnight.css") (prefers-color-scheme: dark);

#observablehq-header {
  border-bottom: none;
  background: linear-gradient(var(--theme-background), transparent);
  margin: 0 -3rem 0 -3rem;
  height: 1.4rem;
}

#observablehq-header + #observablehq-main {
  margin-top: 0;
}

a.view-source {
  position: absolute;
  top: 0.5rem;
  right: 2rem;
  font: 700 18px var(--sans-serif);
  text-decoration: none !important;
  padding: 0 4px;
}
a.view-source:not(:hover,:focus) {
  color: inherit;
}

p.author {
  text-align: right;
  font-style: italic;
}

p.author a {
  color: inherit;
}

p.author:not(:empty)::before {
  content: "■ ";
}

/* Makes code visible in prose */
a code {
  color: inherit;
}
span > code,
p > code,
li > code,
td > code,
th > code {
  color: var(--syntax-string);
  background-color: var(--theme-background-alt);
  padding: 3px 5px;
  border-radius: 4px;
}
a[href]:has(code):hover,
a[href]:has(code):focus {
  text-decoration: none;
}
a[href] > code {
  text-underline-offset: 2px;
  text-decoration: underline solid 1px;
}
a[href]:hover > code,
a[href]:focus > code {
  text-decoration-thickness: 1.5px;
}
a[href]:visited > code {
  color: inherit;
}

code:not(pre code) {
  font-size: 0.9em;
}
